In [1]:
import pandas as pd
my_series = pd.Series([5, 6, 7, 8, 9, 10])
my_series

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [6]:
pbdb = pd.DataFrame({
    "name": ["Ivan", "Artem"],
    "lastname": ["Yaremenko","Chuguev"],
    "phone": ["4567898765", "45678909876543"],
    "niname": ["frog", "lain"],
})

pbdb.head()

    name   lastname           phone niname
0   Ivan  Yaremenko      4567898765   frog
1  Artem    Chuguev  45678909876543   lain

In [7]:
for x in pbdb:
    print(x)

name
lastname
phone
niname

In [19]:
pbdb.to_csv("phonebook.csv", sep="I")